.header {
    background-color: $primary-color;
    color: #fff;
    padding: 4rem 0;
    position: fixed;
    z-index: 2015;
    left: 0;
    right: 0;
    top: 0;
    transition: all .33s ease-in;

    .container {
        display: flex;

        .logo {
            transition: all .33s ease-in;
        }

        .nav {
            margin-left: auto;
            display: flex;
            align-items: flex-start;

            li.current-menu-item > a,
            li > a:hover {
                color: $cta-color;
            }

            > ul {
                list-style: none;
                display: flex;
                gap: 4rem;

                li {
                    position: relative;

                    a {
                        color: #fff;
                        text-decoration: none;
                        text-transform: uppercase;
                        padding: 0.5rem 0;
                        font-size: 2.4rem;
                        font-weight: 900;
                    }

                    svg {
                        display: none;
                    }

                    &:hover {
                        ul.sub-menu {
                            opacity: 1;
                            transform: translateY(0);
                            z-index: 2;
                        }
                    }
                }

                ul.sub-menu {
                    list-style: none;
                    display: flex;
                    flex-direction: column;
                    background-color: $dark-color;
                    padding: 3.5rem;
                    position: absolute;
                    left: -6rem;
                    top:calc(100% + 2rem);
                    gap: 2rem;
                    transition: all .23s ease;
                    opacity: 0;
                    transform: translateY(-1rem);
                    z-index: -1;

                    li {
                        a {
                            font-size: 2rem;
                            white-space: nowrap;
                        }
                    }
                }

                ul.sub-menu::before {
                    content: "";
                    width: 0px;
                    height: 0px;
                    border-style: solid;
                    border-width: 0 14px 12px 14px;
                    border-color: transparent transparent $dark-color transparent;
                    transform: rotate(0deg);
                    display: block;
                    position: absolute;
                    top: -1.2rem;
                    left: 9rem;
                }
            }
        }
    }
}

.sticky-header {
    padding: 1rem 0;

    .logo {
        max-width: 12rem;
    }
}

.gt_selector {
    margin-left: 4.7rem;
    text-transform: uppercase;
    font-family: inherit;
    font-size: 1.5rem;
    font-weight: 900;
    padding: .5rem 1.2rem;
    cursor: pointer;
}


.home {
    .header {
        background-color: transparent;

        .logo {
            display: none;
        }
    }
}

/* RESPONSIVE */
@media only screen and (max-width:1300px) {
    .header {
        nav > {
            ul > li > a {
                font-size: 2rem!important;
            }

        }
    }
}
@media only screen and (max-width:1180px) {
    .header {
        padding: 1rem 0!important;

        .container {
            align-items: center;

            .logo {     
                z-index: 2020;

                img {
                    max-height: 5rem;
                }
            }
        }

        .change .bar1 {
            -webkit-transform: rotate(-45deg) translate(-5px, 5px);
            transform: rotate(-45deg) translate(-5px, 5px);
        }
    
        .change .bar2 {
            opacity: 0;
        }
    
        .change .bar3 {
            -webkit-transform: rotate(45deg) translate(-6px, -6px);
            transform: rotate(45deg) translate(-6px, -6px)
        }
    

        #mob-menu-bar {
            margin-left: auto;
            > div {
                width: 2.4rem;
                height: 2px;
                background: #fff;
                border-radius: 3px;
                margin-bottom: 6px;
                -webkit-transition: all .23s ease-in;
                transition: all .23s ease-in;
            }
        }

        nav.menu-open {
            -webkit-transform: translateX(0);
            transform: translateX(0);
        }

        nav {
            position: fixed;
            top: 0;
            left: 0;
            bottom: 0;
            width: 100vw;
            background-color: $primary-color;
            color: #fff;
            max-width: 100vw;
            -webkit-transition: all .33s ease-in-out;
            transition: all .33s ease-in-out;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: start;
            -ms-flex-pack: start;
            justify-content: flex-start;
            padding: 10rem 2rem 4rem;
            -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
            height: 100%;
            overflow: auto;
            min-height: 100vh;
            gap: 1.4rem!important;

            > ul {
                gap: 2.7rem!important;

                > li > a {
                    font-size: 2.4rem!important;
                }
            }

            ul {
                flex-direction: column;
            }

            .sub-menu {
                position: relative!important;
                z-index: 1!important;
                opacity: 1!important;
                top: 0!important;
                left: 0!important;
                padding: 1.6rem 1.6rem 0!important;
                transform: translateY(0)!important;
                background-color: transparent!important;

                &::before {
                    display: none!important;
                }
            }

            .gt_selector {
                margin: 7rem 0 0!important;
            }
        }
    }
}

body.menu-open {
    overflow: hidden;
}