$primary-color: #000;
$cta-color:#FFCD0D;
$accent-color: #FF99FF;
$secondary-color:#0171FF;
$lightgray-color:#F5F5F5;
$dark-color:#383838;
$pastel-green:#D0E4A2;
$container: 164rem;
$font:"neue-haas-unica",sans-serif;
